bitbucket-issues-enlighter.crx
bitbucket-issues-enlighter.pem

Bitbutcket\ issues\ enlighter.safariextension/*.css
Bitbutcket\ issues\ enlighter.safariextension/*.js
google_chrome/*.css
google_chrome/*.js